Repository jacklovett/Tic-Stat-Toe, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, CI/CD

Add README.md to explain application
  README.md
  client/src/pages/Home.tsx
  pom.xml
Labels: frontend

Update maven.yml to include unit tests
  .github/workflows/maven.yml
Labels: CI/CD

Script clean up
  .github/workflows/maven.yml
Labels: CI/CD

Fix Tests attempt
  .github/workflows/maven.yml
  src/test/java/com/lovettj/ticstattoe/TicStatToeApplicationTests.java
Labels: backend, CI/CD

Fix Codacy warning and try and fix scripts
  .github/workflows/maven.yml
  src/test/java/com/lovettj/ticstattoe/TicStatToeApplicationTests.java
Labels: backend, CI/CD

Fix Codacy warning and try and fix scripts
  .github/workflows/maven.yml
  src/test/java/com/lovettj/ticstattoe/TicStatToeApplicationTests.java
Labels: backend, CI/CD

Remove lines from label.yml
  .github/workflows/label.yml
Labels: CI/CD

Add JUnit to indicate backend tests
  .github/workflows/maven.yml
Labels: CI/CD

Move passwords to Github secrets
  .github/workflows/label.yml
  .github/workflows/maven.yml
  README.md
  client/src/pages/Home.tsx
  pom.xml
  src/test/java/com/lovettj/ticstattoe/TicStatToeApplicationTests.java
Labels: frontend, backend, CI/CD

Print env variable
  .github/workflows/maven.yml
Labels: CI/CD

Attempt to fix secret issue
  .github/workflows/maven.yml
Labels: CI/CD

change secrets
  .github/workflows/maven.yml
Labels: CI/CD

Style Game board and other ui improvements
  client/src/components/Board.tsx
  client/src/components/Square.tsx
  client/src/pages/Game.tsx
  client/src/pages/Home.tsx
  client/src/pages/Stats.tsx
  client/src/services/gameService.ts
  pom.xml
Labels: frontend

Add Welcome Image
  client/public/assets/welcomeImage.png
  client/src/components/Button.tsx
  client/src/components/ButtonIcon.tsx
  client/src/components/ListItem.tsx
  client/src/components/Page.tsx
  client/src/components/Square.tsx
  client/src/pages/Game.tsx
  client/src/pages/Home.tsx
  client/src/styles.ts
Labels: frontend

Update start script to stat server
  client/package.json
  client/src/components/ButtonIcon.tsx
  client/src/components/Square.tsx
  client/yarn.lock
Labels: frontend

Update deps
  client/package.json
  client/yarn.lock
Labels: frontend

Upgrade react
  client/package.json
  client/src/App.tsx
  client/src/pages/Game.tsx
  client/src/pages/Home.tsx
  client/src/pages/PageNotFound.tsx
  client/src/pages/Stats.tsx
  client/yarn.lock
  pom.xml
Labels: frontend

Add media query hook for different board sizes
  client/src/components/Button.tsx
  client/src/components/Page.tsx
  client/src/components/Square.tsx
  client/src/hooks/useMediaQuery.ts
  client/src/pages/Home.tsx
  pom.xml
Labels: frontend

Increase game info padding
  client/src/pages/Game.tsx
Labels: frontend

Add Procfile and system.properties
  Procfile
  system.properties
Labels: none

Update pom version
  pom.xml
Labels: none

Update Procfile
  Procfile
  pom.xml
Labels: none

update package name
  Procfile
  pom.xml
Labels: none

adding repackage to pom
  pom.xml
Labels: none

Add main class
  pom.xml
Labels: none

Update plugins
  pom.xml
Labels: none

update pom
  pom.xml
Labels: none

Fix build
  client/package.json
  client/yarn.lock
  pom.xml
Labels: frontend

Add port
  src/main/resources/application.properties
Labels: backend

attempt to fix port
  Procfile
  src/main/resources/application.properties
Labels: backend

Move useMediaQuery to Board
  client/src/components/Board.tsx
  client/src/components/Square.tsx
  client/src/hooks/useMediaQuery.ts
Labels: frontend

Add link to hosted app
  README.md
Labels: none

Usage of duration for stat times
  src/main/java/com/lovettj/ticstattoe/model/Game.java
  src/main/java/com/lovettj/ticstattoe/responses/Stats.java
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
Labels: backend

Format Game times
  client/package.json
  client/src/services/statsService.ts
  client/yarn.lock
Labels: frontend

Attempt postgres workaround
  .github/workflows/maven.yml
Labels: CI/CD

Format Game times
  client/package.json
  client/src/services/statsService.ts
  client/yarn.lock
Labels: frontend

Revert postgres workaround
  .github/workflows/maven.yml
Labels: CI/CD

Make Header fixed and body scroll to fix strange button sizing issues
  client/src/App.tsx
  client/src/components/Page.tsx
  client/src/index.css
  client/src/styles.ts
Labels: frontend

Revert "Make Header fixed and body scroll to fix strange button sizing issues"
  client/src/App.tsx
  client/src/components/Page.tsx
  client/src/index.css
  client/src/styles.ts
Labels: frontend

Revert "Revert "Make Header fixed and body scroll to fix strange button sizing issues""
  client/src/App.tsx
  client/src/components/Page.tsx
  client/src/index.css
  client/src/styles.ts
Labels: frontend

.github/labeler.yml:

frontend: client/**/*

backend: src/**/*

CI/CD: .github/workflows/**/*
