Repository jacklovett/Tic-Stat-Toe, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, CI/CD

.github/labeler.yml:

frontend: client/**/*

backend: src/**/*

CI/CD: .github/workflows/**/*

Add GameService
  src/main/java/com/lovettj/ticstattoe/controller/GameController.java
  src/main/java/com/lovettj/ticstattoe/service/GameService.java
Labels: backend

Add Junit and GameRepo Tests
  pom.xml
  src/main/java/com/lovettj/ticstattoe/model/BoardHistory.java
  src/main/java/com/lovettj/ticstattoe/model/Game.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
Labels: backend

Add InstantConverter for serializing/deserializing gson
  src/main/java/com/lovettj/ticstattoe/utils/InstantConverter.java
Labels: backend

Add BoardHistoryRepository tests
  src/main/java/com/lovettj/ticstattoe/model/BoardHistory.java
  src/test/java/com/lovettj/ticstattoe/repository/BoardHistoryRepositoryTests.java
Labels: backend

Add GameController Tests
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
Labels: backend

Add Game Service Tests
  src/main/java/com/lovettj/ticstattoe/service/GameService.java
  src/test/java/com/lovettj/ticstattoe/service/GameServiceTests.java
Labels: backend

Fix variable scope of tests
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/service/GameServiceTests.java
Labels: backend

Use Junit 5 and fix tests not running in mvn
  pom.xml
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
  src/test/java/com/lovettj/ticstattoe/repository/BoardHistoryRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/service/GameServiceTests.java
Labels: backend

Remove non-needed asserts to kee junit tests simple
  src/test/java/com/lovettj/ticstattoe/repository/BoardHistoryRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
Labels: backend

Refactor httpService to remove dependency on axios
  client/package.json
  client/src/services/httpService.ts
  client/yarn.lock
Labels: frontend

Add dummy stats endpoint
  src/main/java/com/lovettj/ticstattoe/controller/GameController.java
  src/main/java/com/lovettj/ticstattoe/responses/Stats.java
  src/test/java/com/lovettj/ticstattoe/repository/BoardHistoryRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
Labels: backend

Connect Stats Page to endpoint
  client/src/components/Game.tsx
  client/src/components/Page.tsx
  client/src/components/Stats.tsx
  client/src/types.ts
Labels: frontend

Change default text colour
  client/src/App.tsx
Labels: frontend

Add models
  client/src/components/Board.tsx
  client/src/components/Game.tsx
  client/src/components/Square.tsx
  client/src/models/Game.ts
  client/src/models/Statistics.ts
Labels: frontend

Add Statistics List
  client/src/components/Header.tsx
  client/src/components/ListItem.tsx
  client/src/components/Stats.tsx
  client/src/components/Title.tsx
Labels: frontend

Make stats list scrollable
  client/src/App.tsx
  client/src/components/Header.tsx
  client/src/components/ListItem.tsx
  client/src/components/Page.tsx
  client/src/components/Stats.tsx
  client/src/index.css
Labels: frontend

Remove public modifiers for unit tests
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
  src/test/java/com/lovettj/ticstattoe/repository/BoardHistoryRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
Labels: backend

Add get endpoint test
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
Labels: backend

Refactor game data to add selectedSquare
  client/src/components/Game.tsx
  client/src/models/Game.ts
  src/main/java/com/lovettj/ticstattoe/model/Game.java
  src/main/java/com/lovettj/ticstattoe/model/Turn.java
  src/main/java/com/lovettj/ticstattoe/repository/TurnRepository.java
  src/main/java/com/lovettj/ticstattoe/requests/BoardHistoryRequest.java
  src/main/java/com/lovettj/ticstattoe/requests/GameRequest.java
  src/main/java/com/lovettj/ticstattoe/requests/TurnRequest.java
  src/main/java/com/lovettj/ticstattoe/service/GameService.java
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/repository/TurnHistoryRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/service/GameServiceTests.java
Labels: frontend, backend

Make initialBoardState const
  client/src/components/Game.tsx
Labels: frontend

Remove public modifier
  src/test/java/com/lovettj/ticstattoe/service/GameServiceTests.java
Labels: backend

Initial Stats query attempt
  src/main/java/com/lovettj/ticstattoe/controller/GameController.java
  src/main/java/com/lovettj/ticstattoe/repository/GameRepository.java
  src/main/java/com/lovettj/ticstattoe/responses/Stats.java
  src/main/java/com/lovettj/ticstattoe/service/GameService.java
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
Labels: backend

Get basic stats data working
  client/src/models/Statistics.ts
  src/main/java/com/lovettj/ticstattoe/repository/GameRepository.java
  src/main/java/com/lovettj/ticstattoe/responses/Stats.java
  src/main/java/com/lovettj/ticstattoe/service/GameService.java
Labels: frontend, backend

Fix listItem key console error
  client/src/components/ListItem.tsx
Labels: frontend

Fix boardHistory not saving
  client/src/components/Game.tsx
  client/src/models/Game.ts
Labels: frontend

Add position coordinates for squares
  client/src/components/Board.tsx
  client/src/components/Game.tsx
  client/src/components/Square.tsx
  client/src/models/Game.ts
  src/main/java/com/lovettj/ticstattoe/model/Turn.java
  src/main/java/com/lovettj/ticstattoe/requests/TurnRequest.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/repository/TurnHistoryRepositoryTests.java
  src/test/java/com/lovettj/ticstattoe/service/GameServiceTests.java
Labels: frontend, backend

Add game time stats
  client/src/models/Statistics.ts
Labels: frontend

Fix unused imports and tests
  src/main/java/com/lovettj/ticstattoe/repository/GameRepository.java
  src/main/java/com/lovettj/ticstattoe/responses/Stats.java
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
Labels: backend

Use NamedNativeQuery and add start postions stats
  client/src/models/Statistics.ts
  src/main/java/com/lovettj/ticstattoe/model/Game.java
  src/main/java/com/lovettj/ticstattoe/repository/GameRepository.java
  src/main/java/com/lovettj/ticstattoe/responses/Stats.java
  src/main/java/com/lovettj/ticstattoe/service/GameService.java
  src/main/resources/application.properties
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
  src/test/java/com/lovettj/ticstattoe/repository/TurnRepositoryTests.java
Labels: frontend, backend

Fix GameControllerTests
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
Labels: backend

Add winning start positions stats
  client/src/models/Statistics.ts
  src/main/java/com/lovettj/ticstattoe/model/Game.java
  src/main/java/com/lovettj/ticstattoe/responses/Stats.java
  src/test/java/com/lovettj/ticstattoe/service/GameServiceTests.java
Labels: frontend, backend

Fix GameServiceTests
  src/test/java/com/lovettj/ticstattoe/service/GameServiceTests.java
Labels: backend

Fix loading wheel and typing
  client/src/components/Stats.tsx
  client/src/models/Statistics.ts
Labels: frontend

Update yarn dependencies
  client/yarn.lock
Labels: frontend

Add height to gameInfo to prevent jumping
  client/src/components/Board.tsx
  client/src/components/Game.tsx
  client/src/components/Header.tsx
  client/src/components/Square.tsx
  client/src/components/Stats.tsx
Labels: frontend

Update immer
  client/package.json
  client/yarn.lock
Labels: frontend

Delete logo.svg
  client/src/logo.svg
Labels: frontend

upgrade office-ui and improve accessibility
  client/package.json
  client/public/manifest.json
  client/src/components/Square.tsx
  client/yarn.lock
Labels: frontend

Add default constructor for Turn.java
  src/main/java/com/lovettj/ticstattoe/model/Turn.java
Labels: backend

Add react router and home page
  client/package.json
  client/src/App.tsx
  client/src/components/Board.tsx
  client/src/components/Button.tsx
  client/src/components/ButtonIcon.tsx
  client/src/components/Game.tsx
  client/src/components/Header.tsx
  client/src/components/ListItem.tsx
  client/src/components/Page.tsx
  client/src/components/Square.tsx
  client/src/components/Stats.tsx
  client/src/components/Title.tsx
  client/src/index.css
  client/src/index.tsx
  client/src/models/Game.ts
  client/src/pages/Game.tsx
  client/src/pages/Home.tsx
  client/src/pages/PageNotFound.tsx
  client/src/pages/Stats.tsx
  client/src/services/gameService.ts
  client/src/services/httpService.ts
  client/src/services/statsService.ts
  client/src/styles.ts
  client/yarn.lock
Labels: frontend
