Repository jacklovett/Tic-Stat-Toe, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, CI/CD

Tidy up imports with index.ts files
  client/src/App.tsx
  client/src/components/index.ts
  client/src/pages/Game.tsx
  client/src/pages/Home.tsx
  client/src/pages/PageNotFound.tsx
  client/src/pages/Stats.tsx
  client/src/pages/index.ts
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
Labels: frontend, backend

Create main.yml
  .github/workflows/main.yml
Labels: CI/CD

Update main.yml
  .github/workflows/main.yml
Labels: CI/CD

Update main.yml
  .github/workflows/main.yml
Labels: CI/CD

Update CI Scripts
  .github/workflows/maven.yml
Labels: CI/CD

Update .yml again
  .github/workflows/maven.yml
Labels: CI/CD

Be consistent with passwords
  .github/workflows/maven.yml
  src/main/resources/application.properties
Labels: backend, CI/CD

Remove duplicate maven.yml
  .github/workflows/main.yml
  .github/workflows/maven.yml
  pom.xml
  src/main/resources/application.properties
Labels: backend, CI/CD

Keep original .yml name + update port and spring
  .github/workflows/maven.yml
  pom.xml
  src/main/resources/application.properties
Labels: backend, CI/CD

Adjust when to trigger actions
  .github/workflows/maven.yml
Labels: CI/CD

Update scripts
  .github/workflows/maven.yml
Labels: CI/CD

Update again
  .github/workflows/maven.yml
Labels: CI/CD

Revert maven.yml changes
  .github/workflows/maven.yml
Labels: CI/CD

Update README.md
  README.md
Labels: none

UI tidy up + update pom.xml
  client/public/logo192.png
  client/public/logo512.png
  client/src/components/Button.tsx
  client/src/pages/Game.tsx
  client/src/pages/Home.tsx
  client/src/pages/Stats.tsx
  client/src/styles.ts
  pom.xml
Labels: frontend

.github/labeler.yml:

frontend: client/**/*

backend: src/**/*

CI/CD: .github/workflows/**/*
