Repository jacklovett/Tic-Stat-Toe, pull requests merged in 2022-10, with the labels that each got.

#47 Add link to hosted app
  README.md
Labels: documentation

#48 Usage of duration for stat times
  .github/workflows/maven.yml
  src/main/java/com/lovettj/ticstattoe/model/Game.java
  src/main/java/com/lovettj/ticstattoe/responses/Stats.java
  src/test/java/com/lovettj/ticstattoe/controller/GameControllerTests.java
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
Labels: hacktoberfest-accepted

#49 Format Game times
  .github/workflows/maven.yml
  client/package.json
  client/src/services/statsService.ts
  client/yarn.lock
Labels: frontend, CI/CD, hacktoberfest-accepted

#50 Make Header fixed and body scroll to fix strange button issues - resolved
  client/src/App.tsx
  client/src/components/Page.tsx
  client/src/index.css
  client/src/styles.ts
Labels: frontend, hacktoberfest-accepted

#51 Tidy up imports with index.ts files
  client/src/App.tsx
  client/src/components/index.ts
  client/src/pages/Game.tsx
  client/src/pages/Home.tsx
  client/src/pages/PageNotFound.tsx
  client/src/pages/Stats.tsx
  client/src/pages/index.ts
  src/test/java/com/lovettj/ticstattoe/repository/GameRepositoryTests.java
Labels: backend, frontend
